# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
tsconfig.tsbuildinfo

# Environment
.env.local
.env*.local

# Vercel
.vercel

# macOS
.DS_Store
**/.DS_Store

# IDE
.vscode/settings.json
*.swp
*.swo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
